html {
    scroll-behavior: smooth;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body,html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

body {
    background: #1f1f1f;
    color: #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div {
    display: block;
    unicode-bidi: isolate;
}

#navbar {
    padding: 30px 0;
    background: #191919;
    color: #ddd;
    width: 100%;
    display: flex;
    justify-content: center;
}

#navbar .item {
    font-weight: 800;
    padding: 10px 0;
    margin: 0 30px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 18px;
    transition: 0.5s;
}

#navbar .item i {
    margin-right: 10px;
    
}

#navbar .item.active {
    color: #fff;
    border-bottom: solid 2px #fff;
}

@media only screen and (max-width: 600px) {
    #navbar {
        padding:15px 0;
    }

    #navbar .item {
        padding: 10px 0;
        margin: 0 15px;
    }
}

@media only screen and (max-width: 500px) {
    #navbar .nav-icon {
        display: none;
    }
}

.section-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-wrapper section {
    max-width: 600px;
    padding: 10px;
}

.btn {
    color: #a8a8a8;
    margin: 10px;
    border: none;
    background: 0 0;
    cursor: pointer;
}

.btn-row {
    display: flex;
    flex-wrap: wrap;
}

.btn-row .btn:first-of-type {
    margin-left: 0;
}

.btn-row .btn:last-of-type {
    margin-right: 0;
}

.btn:hover {
    transform: translateY(-3px);
}

#wrapper {
    font-family: "Noto Sans Mono", monospace;
    font-weight: 300;
    padding: 40px 0;
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.page-content {
    max-width: 800px;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.link {
    color: #ddd;
    text-decoration: none;
    padding-bottom: 4px;
    font-size: 1em;
    font-weight: 700;
    transition: 0.5s;
}

.link:hover {
    color: #fff;
}

footer {
    font-family: "Roboto", sans-serif;
    font-size: .85em;
    line-height: 1.4em;
    color: #777;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px;
}

footer .link {
    color: #c4c4c4;
    font-weight: 400;
    padding-bottom: 1px;
    border-bottom: none;
}