::selection {
    background-color: #b8b8b8;
}

html {
    scroll-behavior: smooth;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body,
html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

body {
    background: #1f1f1f;
    color: #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div {
    display: block;
    unicode-bidi: isolate;
}

#navbar {
    padding: 30px 0;
    background: #191919;
    color: #ddd;
    width: 100%;
    display: flex;
    justify-content: center;
}

#navbar .item {
    font-weight: 800;
    padding: 10px 0;
    margin: 0 30px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 18px;
    transition: 0.5s;
}

#navbar .item i {
    margin-right: 10px;

}

#navbar .item.active {
    color: #fff;
    border-bottom: solid 2px #fff;
}

.section-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-wrapper section {
    max-width: 800px;
    padding: 10px;
}

#wrapper {
    font-family: "Noto Sans Mono", monospace;
    font-weight: 300;
    padding: 40px 0;
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

h2 {
    margin-bottom: 0px;
}

h3 {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.page-content {
    max-width: 1000px;
}

.project-list {
    margin-bottom: 20px
}

.project {
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
}

.project-icon {
    visibility: shown;
    width: 96px;
    height: 96px;
    border-radius: 4px;
    margin-right: 20px;
    margin-top: 20px;
    transition: 0.5s;
}

.project-icon:hover {
    transform: translateY(-3px);
}

.btn {
    color: #a8a8a8;
    margin: 10px;
    border: none;
    background: 0 0;
    cursor: pointer;
}

.btn-row {
    display: flex;
    flex-wrap: wrap;
}

.btn-row .btn:first-of-type {
    margin-left: 0;
}

.btn-row .btn:last-of-type {
    margin-right: 0;
}

.btn:hover {
    transform: translateY(-3px);
}

.introduction .info-img {
    display: flex;
    max-width: 800px;
}

.introduction .info-img .text-content {
    display: inline;
}

.introduction img {
    width: 32%;
    height: auto;
    padding: 32px;
}

.button-container {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
    border: 2px solid #333;
    border-radius: 100px;
    width: 30em;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    margin-top: 12px;
}

.toggle-button {
    flex: 1;
    padding: 10px 20px;
    background-color: transparent;
    color: #b8b8b8;
    font-weight: 500;
    font-family: "Noto Sans Mono", monospace;
    border: none;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    position: relative;
    z-index: 1;
    transition: color 0.3s ease;
}

.toggle-button.active {
    color: #fff;
}

.button-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 33.33%;
    /* Adjust width for three buttons */
    height: 100%;
    background-color: #333;
    border-radius: 20px;
    z-index: 0;
    transition: transform 0.3s ease;
}

/* Active background on the first button */
.button-container.dev-active::before {
    transform: translateX(0);
}

/* Active background on the second button */
.button-container.model-active::before {
    transform: translateX(101%);
}

/* Active background on the third button */
.button-container.builds-active::before {
    transform: translateX(202%);
}

#modeling-projects {
    display: none;
}

#building-projects {
    display: none;
}

.project {
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
    transition: all 0.3s ease;
    overflow: hidden;
}

.link {
    color: #ddd;
    text-decoration: none;
    padding-bottom: 4px;
    font-size: 1em;
    font-weight: 700;
    transition: 0.5s;
}

.link:hover {
    color: #fff;
}

.image-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 30px 4px;
    max-width: 800px;
}

.image-column {
    -ms-flex: 49%;
    flex: 49%;
    padding: 0 4px;
}

.image-column img {
    margin-top: 8px;
    vertical-align: middle;
    transition: transform 0.2s ease;
    filter: brightness();
    z-index: 1;
}

.image-column img:hover {
    transform: scale(1.03);
    z-index: 2;
}

.image-modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100vw;
    /* Full width */
    height: 100vh;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

.modal-content {
    position: absolute;
    /* Allow positioning within the modal */
    top: 50%;
    /* Position 50% down the container */
    left: 50%;
    /* Position 50% across the container */
    transform: translate(-50%, -50%);
    /* Center by adjusting for its dimensions */
    max-width: 80vw;
    /* Limit based on viewport width */
    max-height: 80vh;
    /* Limit based on viewport height */
    object-fit: contain;
    /* Ensures the image scales correctly */
}

#modal-close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}



#modal-close:hover,
#modal-close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

footer {
    font-family: "Roboto", sans-serif;
    font-size: .85em;
    line-height: 1.4em;
    color: #777;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px;
}

footer .link {
    color: #c4c4c4;
    font-weight: 400;
    padding-bottom: 1px;
    border-bottom: none;
}

@media only screen and (max-width: 620px) {
    #navbar {
        padding: 15px 0;
    }

    #navbar .item {
        padding: 10px 0;
        margin: 0 15px;
    }

    .project-icon {
        display: none;
    }

}

@media only screen and (max-width: 500px) {
    #navbar .nav-icon {
        display: none;
    }

    .button-container {
        flex-direction: column;
        /* Stack buttons vertically */
        width: 70vw;
        /* Allow buttons to take up their natural width */
        border-radius: 21px;
    }

    .toggle-button {
        width: 100%;
        /* Make buttons fill the container */
        text-align: center;
        /* Center the button text horizontally */
        display: flex;
        /* Add flex for alignment */
        justify-content: center;
        /* Center text horizontally */
        align-items: center;
        /* Center text vertically */
        padding: 10px 0;
        /* Adjust padding for proper spacing */
    }

    .button-container::before {
        width: 100%;
        /* Adjust the active background for stacked buttons */
        height: 33.33%;
        /* Adjust height for three buttons */
        transform: translateY(0);
        /* Reset the transform for proper alignment */
        transition: transform 0.3s ease;
    }

    .button-container.dev-active::before {
        transform: translateY(0);
        /* Active background on the first button */
    }

    .button-container.model-active::before {
        transform: translateY(100%);
    }

    .button-container.builds-active::before {
        transform: translateY(200%);
    }
}

@media only screen and (max-width: 806px) {
    .introduction img {
        display: none;
    }
}

.project {
    display: block;
}

.project-content {
    margin-bottom: 20px;
}

.gallery-container {
    display: flex;
    margin-top: 15px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.gallery-item {
    width: calc(33.333% - 10px);
    max-width: 2000px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.gallery-item:hover {
    transform: scale(1.1);
}

.btn.link i.fa-github {
    font-size: 2rem;
}

.gallery-item {
    object-fit: cover;
    height: 200px;
    width: 250px;
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.lightbox.hidden {
    display: none;
}

.lightbox-content {
    max-width: 90%;
    max-height: 90%;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 40px;
    cursor: pointer;
    z-index: 1001;
}

.btn-row .fa-youtube {
    font-size: 32px;
}

.video-wrapper {
    width: 100%;
    max-width: 100%;
    margin: 1rem 0;
    overflow: hidden;
}

.video-wrapper video {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 12px;
}